# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# Tab indentation required
[Makefile]
indent_style = tab
indent_size = 2

[{*.md,*.rst}]
trim_trailing_whitespace = false
