*~
*.o
*.sw?
.#*
*#

utils/e2fsimage/Local.mak
utils/e2fsimage/e2fsimage
utils/exe2pseudofs/exe2pseudofs
doc/html/
doc/latex/
Doxyfile
sweb.kdev*
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
./bin
info.file
utils/bochs/bochsrc

/GPATH
/GRTAGS
/GSYMS
/GTAGS

# eclipse project files
.settings
.project
.cproject
.cdtproject
.cdtbuild

#syntax: regexp
#(.*/)?\#[^/]*\#$
