*~
*.o
*.sw?
.#*
*#
doc/html/
doc/latex/
Doxyfile
sweb.kdev*
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
./bin
info.file
utils/bochs/bochsrc
.settings
.project
.cproject
.cdtproject
.cdtbuild
*.DS_Store
*Thumbs.db
